@using MedicSystem.Core.Application.ViewModels.PruebasDeLaboratorio;
@model List<PruebaDeLaboratorioViewModel>
@{
    ViewData["Title"] = "Pruebas de laboratorio";
}

<h1 class="text-center">Pruebas de laboratorio</h1>

<div class="container-fluid">

    <div class="row mb-5">
        <div class="col-3 offset-9">
            <a asp-controller="PruebaDeLaboratorio" asp-action="Add" class="btn btn-outline-success rounded-pill"><strong>Agregar prueba</strong></a>
        </div>
    </div>

    <div class="row">

        @if (Model.Count == 0 || Model == null)
        {
            <h2>
                No hay pruebas de laboratorio registradas.
            </h2>
        }
        else
        {
            @foreach (PruebaDeLaboratorioViewModel item in Model)
            {
                <div class="col-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary text-center text-light fw-bold">
                            <h5 class="fw-bold">Nombre de la prueba:</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-text text-center mb-4">@item.Nombre</h3>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="PruebaDeLaboratorio" asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> 
                                    <a asp-controller="PruebaDeLaboratorio" asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

