@using MedicSystem.Core.Application.ViewModels.Pacientes;
@model SavePacienteViewModel
@{
    ViewData["Title"] = "Eliminar paciente";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card mt-4">
            <div class="card-header bg-danger text-light">
                <h4>¿Está seguro que desea eliminar al paciente @Model.Nombre @Model.Apellido del sistema?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Paciente" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger fw-bold">Eliminar</button>
                    <a asp-controller="Paciente" asp-action="Index" class="btn btn-primary fw-bold">Regresar</a>

                </form>

            </div>
        </div>
    </div>

</div>
