@using MedicSystem.Core.Application.ViewModels.Pacientes;
@model SavePacienteViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar paciente";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4 class="text-center">@(editMode ? $"Modo de edición" : "Agregando nuevo paciente")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Paciente" asp-action="@(editMode ? "Edit":"Add")" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre: </label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Apellido" class="form-label">Apellido: </label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FechaNacimiento" class="form-label">Fecha de Nacimiento: </label>
                            <input asp-for="FechaNacimiento" class="form-control" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cedula" class="form-label">Cédula: </label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label">Telefono: </label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Direccion" class="form-label">Dirección: </label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <h3>¿Sufre algún tipo de alergias?: </h3>

                            <div class="form-check">
                                <input asp-for="Alergias" id="alergiesT" value="true" class="form-check-input" type="radio" name="Alergias" />
                                <label for="alergiesT" class="form-check-label">Si</label>
                            </div>

                            <div class="form-check">
                                <input asp-for="Alergias" id="alergiesF" value="false" class="form-check-input" type="radio" name="Alergias" />
                                <label for="alergiesF" class="form-check-label">No</label>
                            </div>

                            <span asp-validation-for="Alergias" class="text-danger"></span>

                        </div>

                        <div class="mb-3">
                            <h3>¿Usted es fumador? (activo o inactivo): </h3>

                            <div class="form-check">
                                <input asp-for="Fumador" id="smokesT" value="true" class="form-check-input" type="radio" name="Fumador" />
                                <label for="smokesT" class="form-check-label">Si</label>
                            </div>

                            <div class="form-check">
                                <input asp-for="Fumador" id="smokesF" value="false" class="form-check-input" type="radio" name="Fumador" />
                                <label for="smokesF" class="form-check-label">No</label>
                            </div>

                            <span asp-validation-for="Fumador" class="text-danger"></span>

                        </div>


                        <div class="mb-3">
                            <h3>Foto</h3>
                            <label asp-for="File" class="form-label">Seleccione un archivo:</label>
                            @if (editMode)
                            {
                                <input asp-for="File" class="form-control" />
                            }
                            else
                            {
                                <input required asp-for="File" class="form-control" />
                            }

                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary fw-bold">Guardar</button>
                        <a asp-controller="Paciente" asp-action="Index" class="btn btn-warning fw-bold">Regresar</a>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

